<html>
  <head>
    <title>webpack-static-webpage-example</title>
  </head>
  <body>
    <%= require('html-loader!./header/header.html') %>
    <p>
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
      Simple webpack example for static webpage!<br />
    </p>
    <%= require('html-loader!./footer/footer.html') %>
  </body>
</html>
