#article {
  margin: 95px 15px 120px 15px;
  > .section {
    margin-top: 15px;
    > .title {
      font-weight: bold;
      font-size: 1.125rem;
    }
    > .content {
      margin-top: 10px;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
